@model ProductModel
<h1 class="h3">Ürünü Düzenleme</h1>
<hr />
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CKEditor</title>
    <script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
</head>
<body>
    <form asp-controller="Admin" asp-action="ProductEdit" method="POST" enctype="multipart/form-data">
        <div class="w-100">
            <div class="row">
                <div class="col-md-12">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">

                    <input type="hidden" name="ProductId" value="@Model.ProductId" />
                    <div class="form-group row">
                        <label asp-for="KitapAdi" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="KitapAdi" />
                            <span asp-validation-for="KitapAdi" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Url" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="Url" />
                            <span asp-validation-for="Url" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Yazar" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="Yazar" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="YayınEvi" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="YayınEvi" />
                            <span asp-validation-for="YayınEvi" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Cevirmen" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="Cevirmen" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Icerik" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <textarea id="editor1" class="form-control" asp-for="Icerik"></textarea>
                            <script>
                                CKEDITOR.replace('editor1');
                            </script>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Ucret" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input class="form-control" type="number" step=".01" asp-for="Ucret" value=@Model.Ucret/>
                            <span asp-validation-for="Ucret" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ResimUrl" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input type="hidden" asp-for="ResimUrl" />
                            <img src="~/img/@Model.ResimUrl" width="80" />
                            <input type="file" name="file" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="SayfaSayisi" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="SayfaSayisi" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="StokAdedi" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="StokAdedi" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="BaskiYili" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="BaskiYili" />
                            <span asp-validation-for="BaskiYili" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input asp-for="Onay" type="checkbox" class="custom-control-input">
                        <label asp-for="Onay" class="custom-control-label"></label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input asp-for="AnaSayfa" type="checkbox" class="custom-control-input">
                        <label asp-for="AnaSayfa" class="custom-control-label">Ana Sayfa</label>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 offset-sm-2">
                            <button type="submit" class="btn btn-primary">Ürünü Kaydet</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                    @for (int i = 0; i < Model.SelectedCategories.Count; i++)
                    {
                        <input type="hidden" name="SelectedCategories[@i].CategoryId" value="@Model.SelectedCategories[@i].CategoryId" />
                        <input type="hidden" name="SelectedCategories[@i].Name" value="@Model.SelectedCategories[@i].Name" />
                    }
                    @foreach (var item in (List<Category>)ViewBag.Categories)
                    {
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox"
                                   class="custom-control-input"
                                   name="categoryIds"
                                   value="@item.CategoryId"
                                   id="category_@(item.CategoryId)"
                                   @(Model.SelectedCategories.Any(i => i.CategoryId == item.CategoryId) ? "checked" : "")>
                            <label class="custom-control-label" for="category_@(item.CategoryId)">@item.Name</label>
                        </div>
                    }
                    <hr />
                </div>
            </div>
        </div>
    </form>
@section Scripts
{
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}
</body>
</html>